priority -2

global !p

# ~/.vim/pythonx/all/unicode.py
from all.unicode import (
    number_to_die_face
)

endglobal

snippet "die ([0-6])" "die character" r
`!p snip.rv = number_to_die_face(match.group(1))`$0
endsnippet
