extends html
extends elixir

global !p

# ~/.vim/pythonx/global_helpers.py
from global_helpers import (
    closing_character
)

from .eelixir import (
    eex_placeholder
)

endglobal

snippet "assign value" "Assign-value pair" i
${1:assign}=${2:"}${3:value}`!p snip.rv = closing_character(t[2])`$0
endsnippet

snippet "\beex" "EEx tag" r
<${1|%,%=,%#,%%,%%=|} ${2:`!p snip.rv = eex_placeholder(t[1])`} %>$0
endsnippet

snippet end "EEx <% end %> tag" b
<% end %>$0
endsnippet
