snippet let "let statement" b
let
    ${1:variable} =
        ${2:${VISUAL:-- do something}}
in
${4:-- return value}$0
endsnippet

snippet "\b(main|init|update|view)" "choice for application type" r
`!p snip.rv = match.group(1)` ${1|application,document,element,sandbox|}$0
endsnippet

snippet subscriptions "choice for application type" b
subscriptions ${1|application,document,element|}$0
endsnippet
