snippet false "False" w
False$0
endsnippet

snippet never "never value" w
Never$0
endsnippet

snippet pipe "pipe operator" w
|> $0
endsnippet

snippet pluses "String concat operator" w
++ $0
endsnippet

snippet true "True" w
True$0
endsnippet
