snippet always "Basics.always" w
always${1: ${2:value}}$0
endsnippet

snippet false "False" w
False$0
endsnippet

snippet never "Basics.never" w
Never$0
endsnippet

snippet pipe "Basics.|>" w
|> $0
endsnippet

snippet pluses "Basics.++" w
++ $0
endsnippet

snippet true "True" w
True$0
endsnippet
