snippet "[rR]andom[\s\.]generate" "Random.generate" r
Random.generate ${3:msg}${1: ${2:${VISUAL:generator}}}$0
endsnippet

snippet "[rR]andom[\s\.]int(eger)?" "Random.int" r
Random.int ${1:min} ${2:max}$0
endsnippet
