snippet .match "String.prototype.match(regexp)" i
.match(${1:pattern})$0
endsnippet

snippet .replace "String.prototype.replace(pattern, replacement)" i
.replace(${1:pattern}, ${2:replacement})$0
endsnippet

snippet .split "String.prototype.split(separator, limit)" i
.split(${1:separator}${2:, ${3:limit}})$0
endsnippet
