snippet "\battr (reader|writer|accessible)" "attr_* methods" r
attr_`!p snip.rv = match.group(1)` :${1:method_name}$0
endsnippet

snippet "\b(include|prepend)" "Module#(include|prepend)" r
`!p snip.rv = match.group(1)` ${1:ModuleNames}$0
endsnippet
