global !p

# ~/.vim/pythonx/ruby/object.py
from ruby.object import (
    method_or_proc
)

endglobal

snippet extend "Object#extend" b
extend ${1:ModuleNames}$0
endsnippet

snippet "(?<!external)(?<!local)(\.|\s)method" "Object#method(sym)" r
`!p snip.rv = method_or_proc(match)`method(:${1:sym})$0
endsnippet
