snippet extend "Object#extend" b
extend ${1:ModuleNames}$0
endsnippet

snippet "(\.|\s)method" "Object#method(sym)" r
`!p snip.rv = "." if match.group(1) == "." else " &"
`method(:${1:sym})$0
endsnippet
