snippet digit "A digit character ([0-9])" i
\d
endsnippet

snippet "(?<=/)\.match\?" "match?(string, offset = 0) → true or false" r
.match?(${1:string})$0
endsnippet

snippet "(pattern|regex)" "literal regex" r
/${1:\A}${2:pattern}${3:\z}/${4:.freeze}$0
endsnippet

snippet repetition "regex repetition quantifier" i
{${1:at least}${2:,${3:at most}}}
endsnippet

snippet whitespace "A whitespace character: /[ \t\r\n\f\v]/" i
\s
endsnippet
