snippet "(?<=/)\.match\?" "match?(string, offset = 0) → true or false" r
.match?(${1:string})$0
endsnippet

snippet "(pattern|regex)" "literal regex" r
/${1:\A}${2:pattern}${3:\z}/${4:.freeze}$0
endsnippet
