snippet pointer "pointer choice tabstop" w
${1|pointer property,pointer-events,any-pointer|}$0
endsnippet

snippet "pointer property" "pointer property" w
pointer: pointer keyword$1;$0
endsnippet

snippet "\bany[-\s]pointer" "any-pointer property" r
any-pointer: pointer keyword$1;$0
endsnippet

snippet "\bpointer[-\s]events" "pointer-events property" r
pointer-events: ${1|pointer events keyword,global|};$0
endsnippet
