global !p

def join_pseudo(match):
    return "-".join(match.group(1).split(" "))

endglobal

snippet "\bpseudo\s?class" "CSS pseudo-class" r
${1:&}::${2:pseudo-class} {
  $3
}$0
endsnippet

snippet "\b(checked|focus|hover|(?:first|last) (?:child|of type))" "CSS pseudo-class" r
${1:&}::`!p snip.rv = join_pseudo(match)` {
  $3
}$0
endsnippet
