global !p

# ~/.vim/pythonx/css/selectors.py
from css.selectors import (
    selector_info
)

endglobal

snippet "((?<!pseudo)(?<!pseudo )class|id|tag)" "CSS selector" r
`!p
selector, selector_type = selector_info(match)
snip.rv = selector`${1:`!p snip.rv = selector_type`_name} {
  $2
}$0
endsnippet
