global !p

def selector_info(match):
    selector_type = match.group(1)
    selector = "." if selector_type == "class" else "#"
    return (selector, selector_type)

endglobal

snippet "(class|id)" "CSS class selector" r
`!p
selector, selector_type = selector_info(match)
snip.rv = selector`${1:`!p snip.rv = selector_type`_name} {
  $2
}$0
endsnippet
