snippet root ":root css pseudo-class" b
:root {
  $0
}
endsnippet

snippet "var(iable)?" "css variable choice tabstop" r
variable ${1|usage,definition|}$0
endsnippet

snippet "var(iable)? definition" "css variable definition" r
--${1:variable-name}: ${2:value};$0
endsnippet

snippet "var(iable)? usage" "css variable usage" r
var(--${1:variable-name}${2:, ${3:default-value}})$0
endsnippet
