snippet "validate length" "Ecto.Changeset.validate_length(changeset, field, opts)" w
validate_length(${1:${2:changeset}, }:${3:field}${4:, is: ${5:length}}${6:, min: ${7:length}}${8:, max: ${9:length}}${10:, count: :${11:length_type}}${12:, message: "${13:message}"})$0
endsnippet
