global !p

# ~/.vim/pythonx/vim_pythonx_helpers.py
from vim_pythonx_helpers import (
    autojump_if_blank,
    make_context,
    make_jumper
)

endglobal

context "make_context(snip)"
post_jump "make_jumper(snip, snip.tabstop)"
snippet "[eE]num[\\. ]filter" "Enum.filter/2" r
`!p autojump_if_blank(snip, [1])
`Enum.filter(${1:${2:enumerable}, }${3:fun})$0
endsnippet
