snippet "send interval 2" "timer:send_interval/2"
:timer.send_interval(${1:time_ms}, :${2:message})$0
endsnippet

snippet "send interval(?: 3)?" "timer:send_interval/3" r
:timer.send_interval(${1:time_ms}, ${2:self()}, :${3:message})$0
endsnippet
