snippet "(?<!put[_ ])elem" "Kernel.elem/2" r
${1:Kernel.}elem(${2:${3:tuple}, }${4:index})$0
endsnippet

snippet "put[_ ]elem" "Kernel.put_elem/3" r
${1:Kernel.}put_elem(${2:${3:tuple}, }${4:index}, ${5:value})$0
endsnippet
