global !p

# ~/.vim/pythonx/global_helpers.py
from global_helpers import (
    closing_character
)

# ~/.vim/pythonx/elixir/phoenix.py
from elixir.phoenix import (
    binding_var
)

endglobal

# NOTE: $3 may seem like an unnecessary tabstop, but it's needed when this
# snippet is used in a nested way.
snippet "\b(?:phx|phoenix) (.+)" "phx- binding" r
${1:"}phx-`!p snip.rv = binding_var(match, t[1])`${2|",{,@|}$3`!p snip.rv = closing_character(t[2])`$0
endsnippet
