global !p

# ~/.vim/pythonx/vim_pythonx_helpers.py
from vim_pythonx_helpers import (
    autojump_if_blank,
    make_context,
    make_jumper
)

endglobal

context "make_context(snip)"
post_jump "make_jumper(snip, snip.tabstop)"
snippet "[sS]tring[\\. ]match\?" "String.match?/2" r
`!p autojump_if_blank(snip, [1])
`String.match?(${1:${2:string}, }${3:regex})$0
endsnippet
