snippet "print f" "printf function name" i
printf$0
endsnippet

snippet "(?<=<)standard\s?[iI][oO]" "stdio library header name" r
stdio.h$0
endsnippet

snippet "(?<!<)standard\s?[iI][oO]" "stdio" r
stdio$0
endsnippet
